USE [Watches]
GO
/****** Object:  Table [dbo].[WatchesTable]    Script Date: 24.10.2025 22:21:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WatchesTable](
	[Id] [uniqueidentifier] NOT NULL,
	[WatchName] [varchar](max) NOT NULL,
	[WatchBrand] [varchar](max) NOT NULL,
	[Price] [money] NOT NULL,
	[Img] [varchar](max) NULL,
 CONSTRAINT [PK_WatchesTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[WatchesTable] ([Id], [WatchName], [WatchBrand], [Price], [Img]) VALUES (N'60c5951c-1c33-4184-8808-07e2a396d1dc', N'Raymond Weil RW2766ST50001 Erkek Kol Saati', N'RAYMOND WEIL', 226000.0000, N'https://cdn.saatvesaat.com.tr/media/catalog/product/0/3/03d338f7f8af8c242e74edeb70671510a8da0671865ebe46e60b39b9e68b1517.jpeg')
INSERT [dbo].[WatchesTable] ([Id], [WatchName], [WatchBrand], [Price], [Img]) VALUES (N'3f2b06b8-aebb-4866-a194-c93bd381f11b', N'Welder WRC407 45 mm Erkek Kol Saati', N'WELDER', 8770.0000, N'https://cdn.saatvesaat.com.tr/media/catalog/product/b/5/b5a02869a055070e6ed199509d879f19a4dd08cbeb488683f231fe5148fda3e0.jpeg')
GO
ALTER TABLE [dbo].[WatchesTable] ADD  CONSTRAINT [DF_WatchesTable_Id]  DEFAULT (newid()) FOR [Id]
GO
